body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    background-image: url('img/main.png');
    background-size: cover;
    background-position: center;
}

.footer {
    background-color: #000000;
    display: block;
    padding: 10px 5pw 0;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
    position: relative;
    justify-content: center;
}

.footer .links {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}

.footer a {
    color: #fff;
    font-size: .85rem;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

.footer .links-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-right: auto;
    margin-left: auto; 
}


.logo-container {
    margin-top: 30px; 
    text-align: center; 
}

.logo-container img {
    max-width: 200px; 
    height: auto;
}

#content {
    text-align: center;
    font-weight: bold;
    margin-bottom: auto; 
}

footer {
    text-align: center; 
    background-color: #333; 
    color: white; 
    margin-top: auto; 
    font-weight:600;
}

.rectangle {
    width: 350px;
    height: 440px;
    background-color: #f6f6f6;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.rectangle .img-supercell {
    margin-bottom: 20px; 
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}

.rectangle .img-progressbar {
    margin-bottom: 20px; 
    max-width: 350px;
    max-height: 75%;
    display: block;
    margin-top: 12%;
}

.rectangle .text-info {
    text-align: center;
    display: block;
    margin-top: 5%;
    color: black;
    opacity: 0.7;
    font-family: 'Sen', sans-serif;
    font-weight:lighter;
}


.rectangle form {
    margin-top: 10px; 
}

.rectangle input[type="email"],
.rectangle input[type="password"],
.rectangle button {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.rectangle button {
    width: 50%;
    padding: 20px;
    margin: 10px auto; 
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; 
    display: block;
}

.rectangle button[type="submit"] {
    position: relative; 
    font: bold;
}

.rectangle button[type="reset"] {
    background-color: #f6f6f6;
    stroke-width: 1%;
    color: black;
    font-weight: bold;
    text-align: center;
}

.rectangle button[type="submit"]::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 30 30px rgba(0, 114, 236, 0.3); /* Эффект свечения */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
}

.rectangle button:hover[type="submit"]::after {
    opacity: 1; 
}

.rectangle .error-code {
    text-align: left;
    display: block;
    margin-top: 5%;
    color: rgb(255, 0, 0);
    opacity: 0.7;
    font-family: 'Sen', sans-serif;
    font: 1rem "Fira Sans", sans-serif;
    stroke: #333;
    stroke-width: 2px;
    font-size: 80%;
}

.rectangle .login {
margin-top: 5%;
float: left;
font-weight: bold;
font-size: 90%;
}

.rectangle .check {
margin-top: 5%;
float: right;
opacity: 0.7;
font: 1rem "Fira Sans", sans-serif;
font-size: 90%;
}

@media (min-width: 600px) and (min-height: 600px) {
    .rectangle {
        opacity: 0;
    }
}

.error {
    opacity: 0;
    width: 350px;
    height: 240px;
    background-color: #f6f6f6;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.error .img-supercell {
    margin-bottom: 20px;
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}

.error .text {
    margin-top: 25px;
    color: black;
    opacity: 0.7;
    text-align: center;
}

.error .img-error {
    max-width: 70px;
    display: block;
    margin: 30px auto;
}

@media (min-width: 601px) and (min-height: 601px) {
    .error {
        opacity: 1;
    }
}
